# Ignorar todo excepto lo necesario
*

# Incluir binarios
!kinetic_ball_server_linux
!matchbox_server

# Incluir archivos estáticos
!kinetic_ball_server/static

# Incluir config de Docker/Fly
!Dockerfile
!fly.toml
