app = "kinetic-ball"
primary_region = "gru"

[build]

[http_service]
  internal_port = 3537
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  [http_service.concurrency]
      type = "requests"
      soft_limit = 200
      hard_limit = 250

[vm]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
